# Data Structures Exercises

### Name: Federico Bushi

These exercises combine the fundamental concepts of lists, tuples, dictionaries, and sets covered in all of the lesson notebooks. By incorporating different data structures, students can see how each type can be used effectively in practical scenarios, building a well-rounded understanding of Python's core features. The challenge exercises, in particular, require students to apply multiple concepts together, reinforcing their understanding through more complex problem-solving.

### Lists

1. **Manipulating a List**: Create a list of your top five favorite movies. Write code to:
   - Add a new movie to the list.
   - Remove the third movie.
   - Sort the list in alphabetical order.

In [ ]:
# Write your code below

Expected output:
```
['Inception', 'Pulp Fiction', 'The Dark Knight', 'The Matrix', 'The Shawshank Redemption']
```

2. **Nested Lists**: Given the following nested list `[[1, 2, 3], ['a', 'b', 'c'], [True, False]]`, access the second element of the first list and the first element of the third list.

In [ ]:
# Write your code below

Expected Output:
```
2 True
```

3. **Combining Lists**: Create two lists: `list1 = [1, 2, 3]` and `list2 = [4, 5, 6]`. Write code to concatenate them into a single list and calculate the sum of all elements.

In [ ]:
# Write your code below

Expected Output:
```
[1, 2, 3, 4, 5, 6] 21
```

### Tuples

4. **Creating and Using Tuples**: Create a tuple with your birth month, birth day, and birth year. Write code to access the month and day values.

In [ ]:
# Write your code below

Expected Output:
```
5 14
```

5. **Tuple Unpacking**: Given the tuple `person = ('John Doe', 30, 'New York')`, unpack the values into separate variables `name`, `age`, and `city`, then print them.

Note: See https://www.w3schools.com/python/python_tuples_unpack.asp for examples.

In [ ]:
# Write your code below

Expected Output:
```
John Doe 30 New York
```

### Dictionaries

6. **Building a Dictionary**: Create a dictionary to store information about a book: title, author, year, and number of pages. Then:
   - Add a new key-value pair for genre.
   - Update the number of pages.
   - Remove the year of publication.

In [ ]:
# Write your code below

Expected Output:
```
{'title': '1984', 'author': 'George Orwell', 'pages': 350, 'genre': 'Dystopian'}
```

7. **Accessing Dictionary Keys and Values:** Create a dictionary `grades = {'Alice': 90, 'Bob': 85, 'Charlie': 92}`. Write code to:
- Access and print the grade for 'Alice'.
- Add a new student's grade for 'David' with a score of 88.
- Update Bob's grade to 87.

In [ ]:
# Write your code below

Expected Output:
```
90
{'Alice': 90, 'Bob': 85, 'Charlie': 92, 'David': 88}
{'Alice': 90, 'Bob': 87, 'Charlie': 92, 'David': 88}
```

### Sets

8. **Set Operations**: Create two sets: `set1 = {'apple', 'banana', 'cherry'}` and `set2 = {'banana', 'orange', 'grape'}`. Write code to:
   - Find the intersection of the sets.
   - Find the union of the sets.
   - Determine which items are only in `set1` but not in `set2`.

In [ ]:
# Write your code below

Expected Output:
```
{'banana'} {'orange', 'grape', 'banana', 'apple', 'cherry'} {'apple', 'cherry'}
```

9. **Removing Duplicates**: Given a list `numbers = [1, 2, 3, 3, 4, 4, 5, 6]`, convert the list into a set to remove duplicate values, then convert it back to a list.

In [ ]:
# Write your code below

Expected Output:
```
[1, 2, 3, 4, 5, 6]
```

10. **Set Membership**: Given the set `colors = {'red', 'green', 'blue'}`, write code to check if 'yellow' is in the set and add it if itâ€™s not.

In [ ]:
# Write your code below

Expected Output:
```
{'green', 'blue', 'yellow', 'red'}
```

## Submission Instructions
1. Verify your name is at the top of the notebook.
1. Verify that your answer to each exercise is in one cell directly below the prompt.
1. Delete all unused cells and run all cells.